
<html>
<head><title>ACS Explorer</title></head>
<body>
<h1>ACS Community Survey Explorer</h1>

<form action ="/compare" method ="get">
<p>State</p>

	<select name = "state">
	{% for key,value in fips_dict.iteritems() %}
	<option value="{{value}}" name = State> {{key}}</option>
	{% endfor %}
	</select>


<p>Column 1</p>

	<select name ="column1">
	{% for x in column_titles %}
	<option value="{{x[0]}}"> {{x[1]}}</option>
	{% endfor %}
	</select>

<p>Column 2</p>

	<select name ="column2">
	{% for x in column_titles %}
	<option value="{{x[0]}}"> {{x[1]}}</option>
	{% endfor %}
	</select>

	<br></br>

	<input type = "submit">

</form>
</body>
</html>